PROXY_PORT=6779
DATABASE_URL=postgres://postgres:change_me@127.0.0.1:5432/controlebeckercorp_v8
JWT_SECRET=change_me
CORS_ORIGIN=https://console.beckercorp.cloud,https://console.beckercorp.cloud:6777,https://console.jacarezinho.cloud,https://console.jacarezinho.cloud:6777
PROJECT_ROOT=/opt/controlebeckercorp-v8
APP_BASE_URL=https://console.jacarezinho.cloud
PUBLIC_BASE_URL=https://console.jacarezinho.cloud
LETSENCRYPT_PRIVKEY=/etc/letsencrypt/live/console.jacarezinho.cloud/privkey.pem
LETSENCRYPT_FULLCHAIN=/etc/letsencrypt/live/console.jacarezinho.cloud/fullchain.pem
PROXY_CERT_FILE=/opt/controlebeckercorp-v8/backend-proxy/public/certificado.der
SARG_DIR=/opt/controlebeckercorp-v8/backend-proxy/public/sarg
PROXY_RULES_DIR=/opt/controlebeckercorp-v8/backend-proxy/regras
UNBOUND_ALLOWED_RPZ=/etc/unbound/becker/allowed.rpz
UNBOUND_VIP_CONF=/etc/unbound/becker/vip-bypass.conf
UNBOUND_BLOCKED_RPZ=/etc/unbound/becker/blocked.rpz
UNBOUND_LOCAL_CONF=/etc/unbound/unbound.conf.d/becker_blocks.conf
