{% set scheme = 'https' if config.domains.enable_https else 'http' %}
{% set cors_origins = [scheme ~ '://' ~ config.domains.public_domain] %}
{% for domain in config.domains.internal_domains %}
{% set _ = cors_origins.append(scheme ~ '://' ~ domain) %}
{% endfor %}
PROXY_PORT={{ config.stack.backend_proxy_port }}
DATABASE_URL=postgres://{{ config.database.user }}:{{ config.database.password }}@{{ config.database.host }}:{{ config.database.port }}/{{ config.database.database }}
JWT_SECRET={{ config.runtime.jwt_secret }}
CORS_ORIGIN={{ cors_origins | join(',') }}
PROJECT_ROOT={{ config.stack.project_root }}
APP_BASE_URL={{ scheme }}://{{ config.domains.public_domain }}
PUBLIC_BASE_URL={{ scheme }}://{{ config.domains.public_domain }}
LETSENCRYPT_PRIVKEY={{ config.domains.ssl_certificate_key_path }}
LETSENCRYPT_FULLCHAIN={{ config.domains.ssl_certificate_path }}
PROXY_RULES_DIR={{ config.stack.project_root }}/backend-proxy/regras
UNBOUND_ALLOWED_RPZ=/etc/unbound/becker/allowed.rpz
UNBOUND_VIP_CONF=/etc/unbound/becker/vip-bypass.conf
UNBOUND_BLOCKED_RPZ=/etc/unbound/becker/blocked.rpz
UNBOUND_LOCAL_CONF=/etc/unbound/unbound.conf.d/becker_blocks.conf
UNBOUND_POLICY_CONF=/etc/unbound/unbound.conf.d/becker_policy_compiler.conf
UNBOUND_CONFIG_PATH=/etc/unbound/unbound.conf
PROXY_DNS_SERVER_IP={{ config.runtime.gateway_ip }}
PROXY_GATEWAY_IP={{ config.runtime.gateway_ip }}
WAN_INTERFACE={{ config.runtime.wan_interface }}
PROXY_FORWARD_PORT={{ config.runtime.proxy_forward_port }}
PROXY_INTERCEPT_HTTP_PORT={{ config.runtime.proxy_intercept_http_port }}
PROXY_INTERCEPT_HTTPS_PORT={{ config.runtime.proxy_intercept_https_port }}
PROXY_VISIBLE_HOSTNAME={{ config.runtime.proxy_visible_hostname }}
PROXY_BOOTSTRAP_APPLY=true
