NODE_ENV=production
PORT=8080
HOST=127.0.0.1
APP_URL=https://{{ config.domains.public_domain }}
PGHOST={{ config.database.host }}
PGPORT={{ config.database.port }}
PGDATABASE={{ config.database.database }}
PGUSER={{ config.database.user }}
PGPASSWORD={{ config.database.password }}
TZ={{ config.timezone }}
