{% set scheme = 'https' if config.domains.enable_https else 'http' %}
{% set cors_origins = [scheme ~ '://' ~ config.domains.public_domain] %}
{% set public_ips = config.runtime.public_ips | join(',') if config.runtime.public_ips else '' %}
{% for domain in config.domains.internal_domains %}
{% set _ = cors_origins.append(scheme ~ '://' ~ domain) %}
{% endfor %}
CORE_PORT={{ config.stack.backend_port }}
DATABASE_URL=postgres://{{ config.database.user }}:{{ config.database.password }}@{{ config.database.host }}:{{ config.database.port }}/{{ config.database.database }}
JWT_SECRET={{ config.runtime.jwt_secret }}
JWT_EXPIRES_IN={{ config.runtime.jwt_expires_in }}
CORS_ORIGIN={{ cors_origins | join(',') }}
PROJECT_ROOT={{ config.stack.project_root }}
DB_NAME={{ config.database.database }}
APP_DOMAIN={{ config.domains.public_domain }}
APP_BASE_URL={{ scheme }}://{{ config.domains.public_domain }}
PUBLIC_BASE_URL={{ scheme }}://{{ config.domains.public_domain }}
PROXY_RUNTIME_BASE_URL={{ scheme }}://{{ config.domains.public_domain }}/api/dns
GATEWAY_IP={{ config.runtime.gateway_ip }}
PUBLIC_IPS={{ public_ips }}
LAN_INTERFACE={{ config.runtime.lan_interface }}
WAN_INTERFACE={{ config.runtime.wan_interface }}
SSH_LAN_ALLOW_PORT={{ config.runtime.ssh_lan_allow_port }}
SSH_EXTERNAL_PORT={{ config.runtime.ssh_external_port }}
SMTP_REJECT_UNAUTHORIZED=false
