module.exports = {
  apps: [
    {
      name: "bcc-backend",
      cwd: "{{ config.stack.backend_dir }}",
      script: "dist/server.js",
      interpreter: "node",
      env: {
        NODE_ENV: "production",
      },
    },
    {
      name: "backend-proxy",
      cwd: "{{ config.stack.backend_proxy_dir }}",
      script: "dist/server.js",
      interpreter: "node",
      env: {
        NODE_ENV: "production",
      },
    },
    {
      name: "backend-proxy-ingester",
      cwd: "{{ config.stack.backend_proxy_dir }}",
      script: "dist/ingester.js",
      interpreter: "node",
      env: {
        NODE_ENV: "production",
      },
    },
  ],
};
