CORE_PORT=6778
DATABASE_URL=postgres://postgres:change_me@127.0.0.1:5432/controlebeckercorp_v8
JWT_SECRET=change_me
JWT_EXPIRES_IN=12h
CORS_ORIGIN=https://console.beckercorp.cloud,https://console.jacarezinho.cloud
PROJECT_ROOT=/opt/controlebeckercorp-v8
DB_NAME=controlebeckercorp_v8
APP_DOMAIN=console.jacarezinho.cloud
APP_BASE_URL=https://console.jacarezinho.cloud
PUBLIC_BASE_URL=https://console.jacarezinho.cloud
PROXY_RUNTIME_BASE_URL=https://console.jacarezinho.cloud:6779
GATEWAY_IP=186.251.14.25
PUBLIC_IPS=186.251.14.26,186.251.14.27,186.251.14.28,186.251.14.29
LAN_INTERFACE=enp6s0
WAN_INTERFACE=enp8s0
WIREGUARD_INTERFACE=wg0
WIREGUARD_SERVICE=wg-quick@wg0
SSH_LAN_ALLOW_PORT=22
SSH_EXTERNAL_PORT=18122
STORAGE_GROUP=becker_share
CFTV_MOUNT=/mnt/cftv_storage
NEXTCLOUD_MOUNT=/mnt/nextcloud_data
SMTP_REJECT_UNAUTHORIZED=false
