[Unit]
Description=Agenda semanal SGCG para abrir YouTube e Redes Sociais na VLAN 30

[Timer]
OnCalendar=Fri *-*-* 08:00:00 America/Sao_Paulo
Persistent=true
Unit=sgcg-vlan30-social-youtube-open.service

[Install]
WantedBy=timers.target
